#feat: — новая функция
#fix: — исправление бага
#docs: — обновление документации (например, README)
#chore: — технические правки (форматирование, зависимости)

# Виртуальные окружения
venv/
env/
ENV/
.venv/
.env

# Скомпилированный Python-код
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Локальные конфигурации
.env
.env.local
.env.*.local

# IDE / редакторы
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Логи и временные файлы
*.log
*.tmp